.calculator {
    width: 100%;
    height: 100vh;
    background-color: #1D283A;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.bottonsCalculator {
    width: 72%;
    height: 100%;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bottonsCalculator > p {
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
    background: red;
    width: 36%;
    text-align: center;
}
.bottonsCalculator  .operationsView {
    display: flex;
    gap: 20px
}
.bottonsCalculator > ul {
    background-color: none;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
.bottonsCalculator > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.result > input {
    height: 100px;
    width: 485px;
    margin-bottom: 15px;
    font-size: 75px;
    font-weight: bolder;
    padding-left: 15px;
    outline: none;
    background-color: red;
    border: 4px solid;
    border-color: #344454;
    color: white;
    background-color: #1D283A;
}
.result > p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: semibold;
}
.operationsView {
    display: flex;
    width: 35.9%;
    justify-content: end;
    padding-bottom: 15px;
    display: relative;
}
.operationsView > p {
    color: white;
    font-weight: 500;
}
